.body{
    color: red
}




/* Small Mobile (max 480px) */
@media (max-width: 480px) {
  .container {
    background: orange;
    font-size: 14px;
  }
}

/* Mobile / Phablet (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    background: green;
    font-size: 15px;
  }
}

/* Tablet (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    background: purple;
    font-size: 17px;
  }
}

/* Laptop / Small Desktop (1025px - 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    background: yellow;
    font-size: 19px;
  }
}

/* Large Laptop / Desktop (1281px - 1440px) */
@media (min-width: 1281px) and (max-width:1281) {
  .container {
    background: red;
    font-size: 21px;
  }
}

/* Extra Large / LED Screens (1441px and above) */
@media (min-width: 1441px) {
  .container {
    background: black;
    font-size: 23px;
    color: #fff;
  }
}
