
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --primary-color:#6366f1;
    --accent-color:#3f83f8;
    --text-color:#333333;
    --link-color:#2563eb;
    --background-color:#ffffff;
    --light-gray:#f0f0f0;
    --gray:#808080;
    --dark-gray:#555;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
 
}
.header{
  margin-top: 30px;
  /* border: 2px solid green; */

}
.header-content{
    max-width: 1200px;
    /* border: 2px solid rgb(236, 234, 234); */
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    /* box-shadow: 0px 0px 2px blue; */
    padding: 10px 0px;
}

.header-content:hover{
    box-shadow: 0px 0px 1px 1px blue;
}
.image-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 2px solid rgb(56, 9, 117); */
    gap: 10px;
}


.pen-logo{
    width: 30px;
    height: 30px;
    color:blue;
    mix-blend-mode: multiply;
    /* border: 2px solid rgb(172, 62, 62); */

}
.logo-heading{
    /* border: 2px solid rgb(172, 62, 62); */
    font-size: 20px;
    font-weight: 900;
   color: var(--text-color);

}
.navbar{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
@media (max-width:580px) {
.navbar{
 
    display:none;
}
}
.nav-link{
    color: #718096;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 0.1s;
}
.nav-link:hover{
    color: var(--link-color);
}

.navbar li {
    list-style: none;

}
 .contact-btn{
    display: flex;
    background-color:var(--primary-color);
    color:var(--background-color);
    padding:0.5rem 1rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 500;
 } 
 @media (max-width:580px) {
.contact-btn{
 
    display:none;
}
}

 .contact-btn:hover{
    background-color: #6164ff;
 }
 /* this menu-button */
.menu-button{
    display: none;
    border: none;
    background: none;
}

 @media (max-width:580px) {
.menu-button{
 
    display:block;
    margin-top: 0.5rem;
}
}
 .menu-icon{
    width: 1.5rem;
    height: 1.5rem;
 }
/* end of menu button */

